.page-title{
    font-weight: bold;
    text-align: center;
}


header {
    height:300px;
    background-image: url("public/721447_900.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-size:auto;
    
    
}

.navigation{
    display: flex;
    justify-content:space-between;
    margin:230px 35%;
}

.main-box{
    display: flex;
    align-items: center;
    height: 500px;
}

.ruls{
    background-image: url("public/Caps-capt.PNG");
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content:space-between;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 5px;
}

.image-map{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color:yellow;
    width: 70%;
    margin: auto;
    padding:5px;
}

.score{
    margin:left;
}

.image {
    width: 70px;
    height: 70px;
}

.cupButton {
    width: 20%;
    height: 20%;
    cursor: pointer;
}

.cup-1 {
    margin:auto;
}

.cup-2 {
    margin:auto;
}

.cup-3 {
    margin:auto;
}